<header>
    <div class="Inicio">
      </nav>
      <h1>MIS LAZOS DE AMOR</h1>
      <hr>
      <nav>
        <a href="/">Home</a>
        <a href="/productos/catalogo">Catálogo</a>

    </div>
  </header>