<img class="card-img" src="/img/lazos/<%= producto.imagen_1 %>" alt="...">
  <article class="card-body">
    <h3 class="card-title">
      <%= producto.nombre %>
    </h3>
    <p class="card-precio">
      <%= producto.precio %>
    </p>
    <p class="card-detalle">
      <%= producto.detalle %>
    </p>
  </article>

 