<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>



  <body>
   
    <%- include('./partials/header.ejs') %>


    <h1 class="h1Catalogo">Catálogo de Productos</h1>

    <div class="cardContainer">


      <% productos.forEach(productos=> { %>
        <section class="card">
          <%- include("producto.ejs", {productos: productos}) %>
        </section>
        <% }) %>


        <%- include('./partials/footer') %>


  </body>


</html>