<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{title : 'Mis Lazos de Amor'}) %>
        
   


    <body>
        
            <h1 id="usuario"></h1>
            <div class="nube1"></div>
            <div class="nube2"></div>
            <div class="nube3"></div>
            <div class="lazo">

                <img src="../img/red-elizabeth-red-hair.gif" alt="lazo">

                <!----- Boton Empezar ----->
                <div class="cajaBoton">
                    <a href="/users/catalogo">Dale Click</a>
                </div>

                <script src="../js/master.js"></script>
            </div>
        
    </body>

</html>