<img class="card-img" src="/img/lazos/<%= productos.imagen_1 %>" alt="...">
  <article class="card-body">
    <h3 class="card-title">
      <%= productos.nombre %>
    </h3>
    <p class="card-precio">
      <%= productos.precio %>
    </p>
    <p class="card-detalle">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima et nemo consequuntur ad rerum saepe neque facilis illum aliquid dolore? Inventore, iusto consectetur sunt ducimus aspernatur ab deserunt odit repudiandae?
    </p>
  </article>