<img class="card-img" src="/img/lazos/<%= productos.imagen_1 %>" alt="...">
  <article class="card-body">
    <h3 class="card-title">
      <%= productos.nombre %>
    </h3>
    <p class="card-precio">
      <%= productos.precio %>
    </p>
    <p class="card-detalle">
      <%= productos.detalle %>
    </p>
  </article>

 