.card {
    border: 2px solid rgb(152, 41, 243);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40vh;
    align-items: center;
    margin: auto;
}

.h1Catalogo {
    text-align: center;
    color:rgb(227, 74, 241);
    margin: 20px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;

  }

.card-img {
    margin-bottom: 20px;
    width: 30vh;
    height: 50vh;
    object-fit: cover;
}

.card-title {
    margin-bottom: 20px;
    color: rgb(227, 74, 241);
}

.card-precio {
    margin-bottom: 20px;
    color: rgb(227, 74, 241);
}
.card-detalle {
    margin-bottom: 20px;
    color: rgb(208, 24, 224);
}