*{
    box-sizing: border-box;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  
  body {
    font-family: 'roboto', sans-serif;
    margin: 0;
  }
  
  
  h1{ font-size: 2.0em;}
  h2{font-size: 2.7em;}
  h3{font-size: 2em;}
  h4{font-size: 1.25em;}
  p{font-size: 1.25em;}
  
  
  
  header{
    background-color: rgb(245, 168, 238);
    padding: 4px 80px;
    position:fixed;
    width: 100%;
  }
  header .Inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  
  header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
  
  
  }
  
  header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.2em;
  }
  
  header a:hover{
    color:blueviolet;
      
  }

  header h1 {
    color:white;
      
  }
  header h1:hover{
    color:blueviolet;
      
  }
  main {
   
  background-image: linear-gradient(
      0deg,
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5)

  )
  ,url('/img/fondo-degradado-ab.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  }